/* Global styles */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url("./images/Coffee_Grain_545482_1920x1080.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0062cc;
}

.login-name {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;

}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

form input:focus {
    outline: none;
    border-color: #007bff;
}



.header-text {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*text-shadow: 2px 2px 0px #333;*/
    color: black;
    background-color: #D0AF84;
    padding: 20px;

    text-align: center;
}

.title {
    border-radius: 0 0 10px 10px;
}

.links {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid #7e7e7e;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
}

.links:hover {
    color: #007bff;
    border-bottom-color: #000;
}

.coffe-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.coffe-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #D0AF84;
    transition: all 0.2s ease-in-out;
}

.coffe-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px 5px antiquewhite;

}


h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

/* Specific styles */

.registered {
    max-width: 500px;
    margin: 50px auto;
    background-color: #D0AF84;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.registered h4 {
    color: red;
}

.login-form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #D0AF84;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.login-form h1 {
    margin-bottom: 40px;
}

.login-form p {
    margin-bottom: 20px;
}

.login-form button[type="submit"] {
    align-self: flex-end;
}

.signup-form h1 {
    margin-bottom: 40px;
}

.signup-form p {
    margin-bottom: 20px;
}

.signup-form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #D0AF84;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form button[type="submit"] {
    align-self: flex-end;
}

.add-coffee-form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #D0AF84;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-coffee-form h1 {
    margin-bottom: 40px;
}

.add-coffee-form label {
    margin-bottom: 20px;
}

.add-coffee-form input {
    margin-bottom: 20px;
}

.add-coffee-form textarea {
    height: 150px;
    margin-bottom: 20px;
}

.add-coffee-form button[type="submit"] {
    align-self: flex-end;
}

.edit-coffee-form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #D0AF84;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-coffee-form h1 {
    margin-bottom: 40px;
}

.edit-coffee-form label {
    margin-bottom: 20px;
}

.edit-coffee-form input {
    margin-bottom: 20px;
}

.edit-coffee-form textarea {
    height: 150px;
    margin-bottom: 20px;
}

.edit-coffee-form button[type="submit"] {
    align-self: flex-end;
}


.delete-coffee-form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #D0AF84;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-coffee-form p {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: larger;
}

.delete-coffee-form button[type="submit"] {
    background-color: #dc3545;
    margin-bottom: 10px;
}

.delete-coffee-form button[type="submit"]:hover {
    background-color: #c82333;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}